<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="realeity.views.swt.PerspectiveFactory"
            fixed="false"
            icon="icons/realeity_mini3.gif"
            id="realeity.views.swt.realeityPerspective"
            name="DeJEE">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="realeity.views.swt.realeityPerspective">
         <view
               closeable="false"
               id="com.plugin.realeity.version1.initialMDG"
               minimized="false"
               moveable="true"
               ratio="0.5"
               relationship="right"
               relative="org.eclipse.jdt.ui.PackageExplorer"
               showTitle="true"
               visible="true">
         </view>
         <view
               closeable="false"
               id="com.plugin.realeity.version1.layering"
               minimized="false"
               moveable="true"
               ratio="0.625"
               relationship="right"
               relative="com.plugin.realeity.version1.initialMDG"
               showTitle="true"
               visible="true">
         </view>
         <view
               closeable="false"
               id="com.plugin.realeity.version1.metrics"
               minimized="false"
               moveable="true"
               ratio="0.4"
               relationship="left"
               relative="com.plugin.realeity.version1.initialMDG"
               showTitle="true"
               visible="true">
         </view>
         <view
               closeable="false"
               id="org.eclipse.jdt.ui.PackageExplorer"
               minimized="false"
               ratio="0.475"
               relationship="top"
               relative="com.plugin.realeity.version1.metrics">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="views"
            name="Layering Category">
      </category>
      <view
            class="realeity.views.swt.InitialMDGView"
            icon="icons/color_wheel.png"
            id="com.plugin.realeity.version1.initialMDG"
            name="DeJEE-MDG"
            restorable="true">
      </view>
      <view
            class="realeity.views.swt.MeasuresView"
            icon="icons/chart_bar.png"
            id="com.plugin.realeity.version1.metrics"
            name="DeJEE-Metrics"
            restorable="true">
      </view>
      <view
            class="realeity.views.swt.LayeringView"
            icon="icons/realeity_mini3.gif"
            id="com.plugin.realeity.version1.layering"
            name="DeJEE-Layering"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="com.plugin.realeity.version1.initialMDGCommand"
            name="mdgCommand">
      </command>
      <command
            id="com.plugin.realeity.version1.LayeringCommand"
            name="LayeringCommand">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="realeity.application.actions.extraction.InitialMDGHandler"
            commandId="com.plugin.realeity.version1.initialMDGCommand">
      </handler>
      <handler
            class="realeity.application.actions.layering.LayeringHandler"
            commandId="com.plugin.realeity.version1.LayeringCommand">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.jdt.ui.PackageExplorer">
         <menu
               icon="icons/dejeeMenu.png"
               label="DeJEE ">
            <command
                  commandId="com.plugin.realeity.version1.initialMDGCommand"
                  icon="icons/kdm.png"
                  label="Extract KDM Model"
                  style="push">
                  <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="selection">
                     <iterate
                           operator="or">
                        <adapt
                              type="org.eclipse.core.resources.IProject">
                        </adapt>
                     </iterate>
                  </with>
               </visibleWhen>
            </command>
            <command
                  commandId="com.plugin.realeity.version1.LayeringCommand"
                  icon="icons/realeity_mini3.gif"
                  label="Create Layering"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="selection">
                     <iterate
                           operator="or">
                        <adapt
                              type="org.eclipse.core.resources.IProject">
                        </adapt>
                     </iterate>
                  </with>
               </visibleWhen>
            </command>
         </menu>
      </menuContribution>
   </extension>
</plugin>
